.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#project {
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}

.navbar{
	border-radius: 25px;
	margin-top: 10px;
}
